* {
  margin: 0;
  padding: 0;
}

:root {
  --mantine-color-disabled: #797979;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
